.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.singleLeague {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
  justify-content: space-between;
  width: 70%;
}

.sortBy {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title1 {
  color: white;
  font-size: 16px;
  ;
  font-weight: bold;
}
.leagueHeader {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.showMore {
  background-color: #141619;
  color: white;
  cursor: pointer;
  width: 70%;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.showMore:hover {
  background-color: #34495e;
}
.singleLeagueHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.button {
  background-color: #141619;
  cursor: pointer;
  padding: 0.6em 1.2em;
  border-radius: 10px;
}

.button:hover {
  background-color: #34495e;
}
.noMatches {
  display: flex;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  justify-content: center;
  padding: 10px;
  width: 68%;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navItem {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.navItem.active {
  color: #58a6ff; /* Kolor podświetlenia */
  font-weight: bold;
}

.navItem.active button {
  border-bottom: 2px solid #58a6ff; /* Linie na dole dla podkreślenia */
}

.navItem button {
  border: none;
  color: inherit;
  font-size: 12px;
  cursor: pointer;
}
