.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {
  display: flex;
  width: 100%;
}
.leagueDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navItem {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.navItem button {
  background: none;
  border: none;
  color: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navItem button:hover {
  color: #58a6ff;
}

.navItem .active {
  color: #58a6ff; 
  font-weight: bold;
  border-bottom: 2px solid #58a6ff;
}

.Bar {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
}

.navItem {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.navItem button {
  background-color: #1a1a1a;
  border: none;
  color: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navItem button:hover {
  color: #58a6ff;
}

.navItem .active {
  color: #58a6ff; /* Kolor podświetlenia */
  font-weight: bold;
  border-bottom: 2px solid #58a6ff; /* Linie na dole dla podkreślenia */
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
  color: white;
  border-radius: 8px;
  padding-top: 20px;
}
.tableContainer1 {
  width: 62%;
  overflow-x: auto;
  color: white;
  border-radius: 8px;
  padding-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th {
  background-color: #161b22;
  color: #ffffff;
  padding: 10px;
}

.table td {
  background-color: #1e252e;
  padding: 10px;
  border-bottom: 1px solid #2d333b;
}

.table tr:hover {
  background-color: #2c333d;
}

.teamName {
  color: #58a6ff;
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
}

.teamName:hover {
  text-decoration: underline;
}

.formIcons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.formIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.win {
  background-color: #2ecc71; /* Zielony */
}

.draw {
  background-color: #f1c40f; /* Żółty */
}

.lose {
  background-color: #e74c3c; /* Czerwony */
}
.container2 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff;
}
.matchHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  width: 60%;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.matchTeam {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.matchInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.information {
  display: flex;
  font-size: 12px;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
