.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #141619;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar .menu {
  flex-grow: 1;
}

.sidebar .footer {
  text-align: center;
  font-size: 0.9em;
  margin-top: auto;
}
.title {
  font-size: 2em;
  text-align: center;
  width: 70%;
  border-bottom: 1px solid #ffffff;
}

.leagueItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ffffff;
  width: 70%;
  gap: 1em;
  cursor: pointer;
}
.leagueItem:hover {
  background-color: #34495e;
}
